.box {
    display: flex;
    flex-direction: column;
}


.item {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.info {
    margin-left: 20px;
}